@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
.homepage{
    padding-top: 2%;
}
.homepage>h1{
    font-size: 72px;
    font-family: 'Arvo', serif;
    margin-bottom: 20px;
}
.cards{
    height: 80vh;
}
@media (max-width:990px) {
    .cards{
        height: auto;
    }
}