.mrcevents{
    background: url("../../../../public/images/tech.jpg") no-repeat center center fixed;
    min-height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}
.sec1{
    padding-top:6%;
    height:80vh;
}
@media (max-width:990px) {
    .sec1{
        height: auto;
    }
}