.bcard{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.branchcard{
    border: none;
    width: 18rem;
    margin: 50px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 3px, rgba(36, 64, 95, 0.65) 0px 6px 8px 5px, rgba(255, 255, 255, 0.08) 0px 4px 0px inset;
}
.branchcard:hover{
    transform: scale(1.2);
    z-index: 10;
    cursor: pointer;
}
@media (max-width:990px) {
    .bcard{
        flex-direction: column;
        
    }
    .branchcard{
        margin: auto;
        margin-bottom: 30px;
    }
}